.footer{
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "Tinos", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -4px;}

.footer > .footer-logo  {
    max-width: 100%; /* Ensures the image scales properly */
    height: auto;
    opacity: 50%;
    margin-bottom: 10px; }

.footer-phone-hours span{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: -10px;
    font-size: 1em;
    letter-spacing: 2px;}

.footer-phone-hours > .hours{
    font-size: 0.8em;
    color: #cbcbcb;
    text-transform: uppercase;}


.footer > .links-wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 400px }


.footer > .links-wrapper > .nav-link a {
    color: #cbcbcb;}

.footer > .social-media-icons-wrapper {
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-bottom: 20px;}

.footer > .social-media-icons-wrapper  a {
    font-size: 1.5em;
    color: #cbcbcb;
    transition: 0.5s;}

.footer > .social-media-icons-wrapper  a:hover{
    color: #cea135;}

.footer > .copyright-wrapper {
    font-size: 0.8em;
    color: #858585;
    margin-bottom: 6px;}
